.hero-unit {
    background-color:rgba(255,255,255,0.9);
	padding:0 10px;
	border-bottom:1px solid #999999;
}

    .hero-unit p {
        font-size:18px;
		margin:0;
		text-shadow: 0px 0px 7px rgba(150, 150, 150, 1);
		color:#333333;
    }

    .hero-unit h1 {
        margin:0;
        font-family:Arial;
        font-size:30px;
        font-weight:normal;
		text-shadow: 0px 0px 7px rgba(150, 150, 150, 1);
		color:#333333;
    }

#leftSide {
    float:left;
    padding:10px;
}
#rightSide {
    float:right;
	padding:10px;
	margin-top:10px;
}

#projectDrop {
	float:left;
	margin-right:15px;
    margin-top: 5px;
}

.dd-select {
    width:280px;
}

.dd-selected {
    font-weight:normal;
}
.dd-selected label{
	line-height: normal !important;
}
.dd-selected-image{
	height:20px;
}

 a{
   color:#5B5E61;

}

 a:hover{
   text-decoration:none;

}

.dd-option {
    width:280px;
}

#map_canvas {
  width: 100%;
  height:82%;
  position: absolute; 
  left: 0; 
  right: 0; 
  z-index: 0;

}



.optionsButtons{
  text-align:left;
  font-weight:normal;
  float:right;
  margin-top:3px;
}

.btn-primary { 
	display:block;
	float:left;
	margin-left:5px;
	background-color: #448ee9;
	color: #fff;
	font-size: 100%;
	padding: .5em 1.5em;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
	
	line-height:1.5em;
	
	transition:background 0.7s;
	  -webkit-transition:background 0.2s;
	  -moz-transition: background 0.2s;
	  border:1px solid #285A8C !important;
	  outline:none;
}

.btn-primary:hover {
    background-color:#2F69A3;
}
.btn-primary:active {
    background-color:#1F5489;
}

.btn {
    padding-top:5px;
    padding-bottom:5px;
    border-color:none;
}

.multipleCheck{
	float:left;
	margin:13px 5px 0 0;
}

.btn-primary-red { 
	background-color: #fb6666;
	color: #fff;
	font-size: 100%;
	padding: .5em 1.5em;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-transition: .1s linear -webkit-box-shadow;
	-moz-transition: .1s linear -moz-box-shadow;
	-ms-transition: .1s linear box-shadow;
	-o-transition: .1s linear box-shadow;
	transition: .1s linear box-shadow;
	
	line-height:1.5em;
	
	transition:background 0.7s;
	  -webkit-transition:background 0.2s;
	  -moz-transition: background 0.2s;
	  border:1px solid #d33c3c !important;
	  outline:none;
	  display:block;
	  float:right;
	  font-size:13px !important;
	  margin-top:0px !important;
	  margin-left:15px;
}

.btn-primary-red:hover {
    background-color:#f48a8a;
	color:#FFF;
}
.btn-primary-red:active {
    background-color:#ca5757;
	color:#FFF;
}



.menu{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}


.menu ul{
background:#F93;
height:50px;
list-style:none;
margin:0;
padding:0;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
        -webkit-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
-moz-box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
box-shadow: inset 0px 16px 0px 0px rgba(255, 255, 255, .1);
}

.menu li{
float:left;
padding:0px 0px 0px 15px;
}

.menu li a{
color:#000;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.input {
width: 20px;
height: 20px;

}

.MultiSelect {
font-size:16px;

}

#wrapper {
width:100px;
overflow:auto;
display:inline;


}

.highlightButton {
background-color:#285A8C;
}

.linkStyle {
    font-size:16px;
}


.btn{
	border:1px solid #CCC;
}
.multiselect-container{
	width:200px;
}


#footerDivPro{
	background-color:rgba(68,148,233,0.9);
	position:absolute;
	z-index:9999;
	bottom:0;
	width:100%;
	padding-top:10px;
	border-top:1px solid #06C;
}
#footerDivPro p{
	padding:5px 20px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}